*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #0F0F0F;
}

#root {
  width: 100%;
  min-height: 100vh;
}